/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0; /* Set the width to 0 to hide the scrollbar */
}

/* Optional: You can also hide scrollbar track and buttons */
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

.progress-bar-container {
  height: 5px;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0.7;
  transition: linear;
  width: 100%;
}

.progress-bar {
  background-color: #1f22f3;
  border-radius: 4px;
  height: 100%;
}

.loading-overlay-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
      255,
      255,
      255,
      0.358
  ); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other elements */
}